#m_p_setting{
    width: 40px;
    text-align: center;
    height: 24px;
    line-height: 24px;
    position: absolute;
    right: 50px;
    bottom: 5px;
    cursor: pointer;
    color: #fff;
    background: rgb(77, 80, 82);
    border: 1px solid rgb(86, 86, 86)
}
#m_p_setting_dialog{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(51, 51, 51,0.8);
    z-index: 998;
    text-align: center;
    display: none
}
#m_p_setting_con{
    width: 400px;
    height: 300px;
    margin-top: 200px;
    background: #fff;
    display: inline-block
}
.workInfo{
margin: 0 10px;
margin-top: 80px;
color: #fff;
padding: 5px 5px;
line-height: 23px;
background: #3065ae;
border: 1px solid #0f3467
}
.workInfo dd{
    font-weight: bold
}
.workInfo dt{
text-indent: 15px
}
.workInfo dd:first-child {
color: #b9e2ff;
}
.workInfo dd{
color: #ffb398;
}
.quick-operation {
    margin: 100px auto 0 auto;
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background: #e52969;
    text-align: center;
    cursor: pointer;
    z-index: 2;
}
.quick-operation::before{
content: '时光机';
line-height: 80px;
text-align: center;
color: white
}
.operation{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: -1;
}
.operation li{
    position: absolute;
    list-style: none;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    background: #048e86;
    color: white;
    transform-origin: 75px 75px;
    cursor: pointer;
}
.operation_show{
    transform:translate(-35px,-35px);
    transition: transform 1s;
    opacity: 1;
    animation: show_operation 1s;
    animation-fill-mode: forwards;
}
.operation_show li:nth-child(1) {
    transform: rotate(-45deg);
    transition: transform 1s;
}
.operation_show li:nth-child(2) {
    transform: rotate(0deg);
    transition: transform 1s;
}
.operation_show li:nth-child(3) {
    transform: rotate(45deg);
    transition: transform 1s;
}
.operation_show li:nth-child(4) {
    transform: rotate(90deg);
    transition: transform 1s;
}
.operation_show li:nth-child(5) {
    transform: rotate(135deg);
    transition: transform 1s;
}
.operation_hide {
}
.operation_hide li{
    animation: hide_operation 1s;
    animation-fill-mode: forwards;
}
@keyframes hide_operation {
    from{
        opacity: 1;
    }
    to{
        transform:translate(50px,50px);
        opacity: 0;
    }
}

@keyframes show_operation{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
